.wrapper {
  width: 100%;
  height: 100vh;
  // background-image: url("http://slottool.top/anh1.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    height: 90vh;
    transform: translateY(3%);
    border-radius: 25px;
    display: flex;
    margin: 0px auto;
    align-items: center;
    justify-content: space-between;
  }
  .container_center {
    background-size: cover;
    width: 100%;
    height: 520px;
    // height: 100%;
    // width: 30%;
    transform: translateX(4%);

    margin: 0px auto;
    position: relative;
  }
  .formlogin {
    width: 322px;
    margin: 0px auto;
    position: absolute;
    margin-top: 8px;
    margin-left: 47px;
    .title {
      display: block;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 20px;
    }
  }
  .infor {
    z-index: 999;
    color: #fff;
    font-size: 25px;
    margin-left: -12px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 60px;
    margin-bottom: 40px;
    .container_input {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-left: -12px;
    }
    .container_input span {
      margin-top: 16px;
      font-size: 14px;
      color: #fff;
    }
    .container_input input {
      padding: 14px 16px;
      background-color: white;
      outline: none;
      border-radius: 10px;
      border: none;
      border: 1px solid #939dac;
    }
  }
  .remember_pass {
    margin: 16px 0px;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .warning_login {
    display: block;
    height: 15px;
    margin-top: 25px;
    margin-left: 50px;
    span {
      color: rgb(250, 41, 41);
    }
  }
  .container_button {
    width: 100%;
    display: flex;
    gap: 20px;
    margin-top: 10px;
    margin-left: -37px;
    padding-bottom: 30px;
    img {
      margin: 0px auto;
      width: 180px;
      cursor: pointer;
    }
    // button {
    //   border: none;
    //   outline: none;
    //   border-radius: 30px;
    //   cursor: pointer;
    //   padding: 16px 12px;
    // }
    // button span {
    //   font-size: 14px;
    //   font-weight: 600;
    // }
  }
}
@media (min-width: 769px) and (max-width: 1550px) {
  .container {
    width: 100%;
    height: 70%;
    // background-color: #fff;
    border-radius: 0px 25px 25px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .content-left {
    width: 60%;
  }
  .container_center {
    background-size: cover;
    width: 460px;
    top: 8%;
    height: 520px;
    // height: 100%;
    // width: 30%;
    margin: 0px auto;
    position: relative;
  }
  .formlogin {
    width: 322px;
    margin: 0px auto;
    z-index: 99;
    position: relative;
    .title {
      display: block;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 20px;
    }
  }
  .infor {
    z-index: 999;
    color: #fff;
    font-size: 30px;
    margin-left: -12px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 60px;
    margin-bottom: 40px;
    .container_input {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-left: -12px;
    }
    .container_input span {
      margin-top: 16px;
      font-size: 14px;
      color: #fff;
    }
    .container_input input {
      // padding: 16px;
      height: 53px;

      background-color: white;
      outline: none;
      border-radius: 10px;
      border: none;
      border: 1px solid #939dac;
      text-indent: 12px;
    }
  }
  .remember_pass {
    margin: 16px 0px;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .warning_login {
    display: block;
    height: 15px;
    margin-top: 25px;
    margin-left: 50px;
    span {
      color: rgb(250, 41, 41);
    }
  }
  .container_button {
    width: 100%;
    display: flex;
    gap: 15px;
    margin-top: 10px;
    margin-left: -12px;
    img {
      margin: 0px auto;
      width: 150px;
      cursor: pointer;
    }
    // button {
    //   border: none;
    //   outline: none;
    //   border-radius: 30px;
    //   cursor: pointer;
    //   padding: 16px 12px;
    // }
    // button span {
    //   font-size: 14px;
    //   font-weight: 600;
    // }
  }
}
@media (min-width: 1550px) and (max-width: 2000px) {
  .container {
    width: 100%;
    height: 70%;
    // background-color: #fff;
    border-radius: 0px 25px 25px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .content-left {
    width: 60%;
  }
  .container_center {
    background-size: cover;
    width: 460px;
    top: 8%;
    height: 520px;
    // height: 100%;
    // width: 30%;
    margin: 0px auto;
    position: relative;
  }
  .formlogin {
    width: 322px;
    margin: 0px auto;
    z-index: 99;
    position: relative;
    .title {
      display: block;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 20px;
    }
  }
  .infor {
    z-index: 999;
    color: #fff;
    font-size: 30px;
    margin-left: -12px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 60px;
    margin-bottom: 40px;
    .container_input {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-left: -12px;
    }
    .container_input span {
      margin-top: 16px;
      font-size: 14px;
      color: #fff;
    }
    .container_input input {
      // padding: 16px;
      height: 53px;

      background-color: white;
      outline: none;
      border-radius: 10px;
      border: none;
      border: 1px solid #939dac;
      text-indent: 12px;
    }
  }
  .remember_pass {
    margin: 16px 0px;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .warning_login {
    display: block;
    height: 15px;
    margin-top: 25px;
    margin-left: 50px;
    span {
      color: rgb(250, 41, 41);
    }
  }
  .container_button {
    width: 100%;
    display: flex;
    gap: 15px;
    margin-top: 10px;
    margin-left: -12px;
    img {
      margin: 0px auto;
      width: 150px;
      cursor: pointer;
    }
    // button {
    //   border: none;
    //   outline: none;
    //   border-radius: 30px;
    //   cursor: pointer;
    //   padding: 16px 12px;
    // }
    // button span {
    //   font-size: 14px;
    //   font-weight: 600;
    // }
  }
}
