@media (max-width: 768px) {
  .wrapper {
    width: 100%;
    color: #fff;
    overflow: hidden;
    position: relative;
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 100%;
    margin: 0px auto;
    justify-content: center;
  }
  .elementwheel {
    width: 100%;
    margin-left: 0;
    // margin-bottom: -250px;
    order: 1;
  }
  .containerhistory {
    width: 100%;
    display: block;
    height: 500px;
    order: 3;
  }
  .video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }

  .video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .history {
    width: 90%;
    height: 600px;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 15px;
    margin: 0px auto;
    background-color: #fff;
    color: black;
    z-index: 1;
    padding: 24px 0px;
    background-size: cover; /* Adjust size to cover the container */
    background-repeat: no-repeat; /* Prevent image repetition */
    background-position: center;
  }
  .congrats-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .congrats-box {
    width: 100%;
    height: 30%;
    // background-color: #f8f9fa;
    // border: 2px solid #28a745;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    z-index: 1001; /* Đảm bảo box nổi trên overlay */
    background-size: cover; /* Adjust size to cover the container */
    background-repeat: no-repeat; /* Prevent image repetition */
    background-position: center;
    position: relative;
  }

  .congrats-content h2 {
    color: #fcf79f;
    margin-bottom: 10px;
  }

  .congrats-content p {
    color: #333;
  }
  .congrats-content {
    position: absolute;
    width: 70%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .btn-close {
    background-color: #28a745;
    padding: 6px 12px;
    border-radius: 10px;
    transition: 0.25s;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
  .containerTable {
    height: 400px;
    overflow-y: scroll;
    margin-top: 10px !important;
  }
  table {
    width: 83% !important;
    border-collapse: collapse;
    font-size: 18px;
    text-align: left;
    margin: 0px auto;
  }
  th,
  td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }
  th {
    background-color: #f2f2f2;
  }
  tr:hover {
    background-color: #f5f5f5;
  }
  .btn-action {
    button {
      padding: 12px;
      margin-right: 20px;
      cursor: pointer;
      font-weight: 700;
      font-size: 20px;
      outline: none;
      border-radius: 15px;
      border: transparent;
    }
    button:nth-child(1) {
      background-color: #28a745;
      color: #fff;
    }
    button:nth-child(2) {
      background-color: red;
      color: #fff;
    }
  }
  .container_input {
    display: flex;
    flex-direction: column;
    input {
      padding: 12px;
      margin-bottom: 20px;
    }
  }
  .imgTitle {
    width: 75%;
    margin-top: 20px;
  }
  .imgTitle {
    width: 50%;
  }
  .imgHistory {
    width: 100%;
    position: sticky;
    left: 0;
    z-index: 1;
    top: 0;
  }
  .history h2 {
    position: sticky;
    margin-top: 10px;
    background-color: #fff;
    left: 0;
    top: 0;
    width: 84%;
    height: 10%;
    margin: 24px 0px;
    z-index: 1;
    margin: 0px auto;
  }
  .test {
    width: 83%;
    margin: 0px auto;
    margin-top: 53px;
    span {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .container_add_item {
    width: 94%;
    height: 80vh;
    padding: 24px;
    margin: 0px auto;
    order: 2;
    .form {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    .form input {
      width: 93%;
      padding: 10px 12px;
      outline: none;
      margin: 0px auto;
      margin-top: 35px;
      border: none;
    }
    .form button {
      padding: 10px 24px;
      outline: none;
      background-color: #fda300;
      border: 1px solid #28a745;
      border-radius: 20px;
      cursor: pointer;
    }
    .form button span {
      color: #fff;
      font-weight: 600;
    }
    .form .container_input {
      width: 70%;
      height: 100px;
      background-size: contain; /* Adjust size to cover the container */
      background-repeat: no-repeat; /* Prevent image repetition */
      background-position: center;
    }
    .list_item {
      height: 500px;
      padding: 20px 10px;
      // background-color: #fff;
      background-size: cover; /* Adjust size to cover the container */
      background-repeat: no-repeat; /* Prevent image repetition */
      background-position: center;
      border-radius: 10px;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      overflow-y: scroll;
    }
    .list_item li {
      width: 90%;
      margin: 0px auto;
      background-color: #fda300;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 15px;
    }
    .list_item .icon {
      cursor: pointer;
    }
  }
  .containerhistory button {
    outline: none;
    padding: 5px 12px;
    margin-bottom: 12px;
    background-color: #fda300;
    border: 1px solid #fda300;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
  }
}

@media (min-width: 768px) and (max-width: 1550px) {
  .container {
    width: 100%;
    align-items: flex-start;
    display: flex;
    margin: 0px auto;
    position: relative;
    gap: 100px;
  }
  .elementwheel {
    width: 30%;
  }
  .containerhistory {
    width: 25%;
    display: block;
  }
  .video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }

  .video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .wrapper {
    color: #fff;
  }
  .history {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    margin: 0px auto;
    color: black;
    z-index: 999;
    background-size: contain; /* Adjust size to cover the container */
    background-repeat: no-repeat; /* Prevent image repetition */
    background-position: center;
  }
  .congrats-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .congrats-box {
    width: 40%;
    height: 30%;
    // background-color: #f8f9fa;
    // border: 2px solid #28a745;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    z-index: 1001; /* Đảm bảo box nổi trên overlay */
    background-size: cover; /* Adjust size to cover the container */
    background-repeat: no-repeat; /* Prevent image repetition */
    background-position: center;
    position: relative;
  }

  .congrats-content h2 {
    color: #fcf79f;
    margin-bottom: 10px;
  }

  .congrats-content p {
    color: #333;
  }
  .congrats-content {
    position: absolute;
    width: 60%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .btn-close {
    background-color: #28a745;
    padding: 6px 12px;
    border-radius: 10px;
    transition: 0.25s;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
  .containerTable {
    height: 470px;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 42px !important;
    margin-bottom: 40px;
  }
  table {
    width: 83% !important;
    border-collapse: collapse;
    font-size: 18px;
    text-align: left;
    margin: 0px auto;
    z-index: -1;
    color: #fff;
  }
  th,
  td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }
  th {
    background-color: #f2f2f2;
  }
  tr:hover {
    background-color: #f5f5f5;
  }
  .btn-action {
    button {
      padding: 12px;
      margin-right: 20px;
      cursor: pointer;
      font-weight: 700;
      font-size: 20px;
      outline: none;
      border-radius: 15px;
      border: transparent;
    }
    button:nth-child(1) {
      background-color: #28a745;
      color: #fff;
    }
    button:nth-child(2) {
      background-color: red;
      color: #fff;
    }
  }
  .container_input {
    display: flex;
    flex-direction: column;
    input {
      padding: 12px;
      margin-bottom: 20px;
    }
  }
  .imgTitle {
    width: 50%;
  }
  .imgHistory {
    width: 100%;
    position: sticky;
    left: 0;
    z-index: 1;
    top: 0;
  }
  .history h2 {
    position: sticky;
    left: 0;
    top: 25px;
    display: flex;
    align-items: center;
    color: #fcf79f;
    font-weight: 600;
    justify-content: center;
    width: 84%;
    height: 10%;
    z-index: 6;
    margin: 0px auto;
  }
  .test {
    width: 83%;
    margin: 0px auto;
    margin-top: 53px;
    span {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .container_add_item {
    width: 25%;
    height: 80vh;
    padding: 24px;
    .form {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    .form input {
      width: 93%;
      padding: 10px 12px;
      outline: none;
      margin: 0px auto;
      margin-top: 35px;
      border: none;
    }
    .form button {
      padding: 10px 24px;
      outline: none;
      background-color: #fda300;
      border: 1px solid #28a745;
      border-radius: 20px;
      cursor: pointer;
    }
    .form button span {
      color: #fff;
      font-weight: 600;
    }
    .form .container_input {
      width: 70%;
      height: 100px;
      background-size: contain; /* Adjust size to cover the container */
      background-repeat: no-repeat; /* Prevent image repetition */
      background-position: center;
    }
    .list_item {
      height: 500px;
      padding: 20px 10px;
      // background-color: #fff;
      background-size: cover; /* Adjust size to cover the container */
      background-repeat: no-repeat; /* Prevent image repetition */
      background-position: center;
      border-radius: 10px;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      overflow-y: scroll;
    }
    .list_item li {
      width: 90%;
      margin: 0px auto;
      background-color: #fda300;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 15px;
    }
    .list_item .icon {
      cursor: pointer;
    }
  }
  .containerhistory button {
    outline: none;
    padding: 5px 12px;
    margin-bottom: 12px;
    background-color: #fda300;
    border: 1px solid #fda300;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
  }
}
@media (min-width: 1550px) and (max-width: 3000px) {
  .container {
    width: 100%;
    align-items: flex-start;
    display: flex;
    margin: 0px auto;
    position: relative;
    justify-content: center;
  }
  .elementwheel {
    width: 30%;
  }
  .containerhistory {
    width: 50%;
    display: block;
  }
  .video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  .video-background img {
    width: 100%;
  }
  .video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .wrapper {
    color: #fff;
  }
  .history {
    width: 50%;
    height: 600px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    margin: 0px auto;
    color: black;
    z-index: 999;
    background-size: contain; /* Adjust size to cover the container */
    background-repeat: no-repeat; /* Prevent image repetition */
    background-position: center;
  }
  .congrats-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .congrats-box {
    width: 40%;
    height: 30%;
    // background-color: #f8f9fa;
    // border: 2px solid #28a745;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    z-index: 1001; /* Đảm bảo box nổi trên overlay */
    background-size: cover; /* Adjust size to cover the container */
    background-repeat: no-repeat; /* Prevent image repetition */
    background-position: center;
    position: relative;
  }

  .congrats-content h2 {
    color: #fcf79f;
    margin-bottom: 10px;
  }

  .congrats-content p {
    color: #333;
  }
  .congrats-content {
    position: absolute;
    width: 60%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .btn-close {
    background-color: #28a745;
    padding: 6px 12px;
    border-radius: 10px;
    transition: 0.25s;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
  .containerTable {
    height: 470px;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 42px !important;
    margin-bottom: 40px;
  }
  table {
    width: 65% !important;
    border-collapse: collapse;
    font-size: 18px;
    text-align: left;
    margin: 0px auto;
    z-index: -1;
    color: #fff;
  }
  th,
  td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }
  th {
    background-color: #f2f2f2;
  }
  tr:hover {
    background-color: #f5f5f5;
  }
  .btn-action {
    button {
      padding: 12px;
      margin-right: 20px;
      cursor: pointer;
      font-weight: 700;
      font-size: 20px;
      outline: none;
      border-radius: 15px;
      border: transparent;
    }
    button:nth-child(1) {
      background-color: #28a745;
      color: #fff;
    }
    button:nth-child(2) {
      background-color: red;
      color: #fff;
    }
  }
  .container_input {
    display: flex;
    flex-direction: column;
    input {
      padding: 12px;
      margin-bottom: 20px;
    }
  }
  .imgTitle {
    width: 50%;
  }
  .imgHistory {
    width: 100%;
    position: sticky;
    left: 0;
    z-index: 1;
    top: 0;
  }
  .history h2 {
    position: sticky;
    left: 0;
    top: 25px;
    display: flex;
    align-items: center;
    color: #fcf79f;
    font-weight: 600;
    justify-content: center;
    width: 84%;
    height: 10%;
    z-index: 6;
    margin: 0px auto;
  }
  .test {
    width: 83%;
    margin: 0px auto;
    margin-top: 53px;
    span {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .container_add_item {
    width: 25%;
    height: 80vh;
    padding: 24px;
    .form {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    .form input {
      width: 93%;
      padding: 10px 12px;
      outline: none;
      margin: 0px auto;
      margin-top: 35px;
      border: none;
    }
    .form button {
      padding: 10px 24px;
      outline: none;
      background-color: #fda300;
      border: 1px solid #28a745;
      border-radius: 20px;
      cursor: pointer;
    }
    .form button span {
      color: #fff;
      font-weight: 600;
    }
    .form .container_input {
      width: 70%;
      height: 100px;
      background-size: contain; /* Adjust size to cover the container */
      background-repeat: no-repeat; /* Prevent image repetition */
      background-position: center;
    }
    .list_item {
      height: 500px;
      padding: 20px 10px;
      // background-color: #fff;
      background-size: cover; /* Adjust size to cover the container */
      background-repeat: no-repeat; /* Prevent image repetition */
      background-position: center;
      border-radius: 10px;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      overflow-y: scroll;
    }
    .list_item li {
      width: 90%;
      margin: 0px auto;
      background-color: #fda300;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 15px;
    }
    .list_item .icon {
      cursor: pointer;
    }
  }
  .containerhistory button {
    outline: none;
    padding: 5px 12px;
    margin-bottom: 12px;
    background-color: #fda300;
    border: 1px solid #fda300;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
  }
}
