@media (max-width: 768px) {
  .wrapper {
    width: 100%;
    height: 100vh;
    // background-image: url("http://slottool.top/anh1.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .container {
    width: 100%;
    height: 90vh;
    transform: translateY(3%);
    border-radius: 25px;
    display: flex;
    margin: 0px auto;
    align-items: center;
    justify-content: space-between;
  }

  .container_center {
    background-size: cover;
    width: 100%;
    height: 520px;
    // height: 100%;
    // width: 30%;
    margin: 0px auto;
    position: relative;
    transform: translateX(4%);
  }
  .formlogin {
    width: 322px;
    margin: 0px auto;
    position: absolute;
    margin-top: 8px;
    margin-left: 47px;
    .title {
      display: block;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 20px;
    }
  }
  .infor {
    margin-left: 10%;
    margin-top: 20%;
    width: 55px;
    height: 55px;
    img {
      width: 100%;
      height: auto;
      border-radius: 15px;
    }
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    span {
      margin-top: 16px;
      font-size: 14px;
      color: #fff;
      margin-left: -12px;
    }
    .container_input {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-left: -12px;
    }
    .container_input input {
      padding: 14px 16px;
      background-color: white;
      outline: none;
      border-radius: 10px;
      border: 1px solid #939dac;
    }
  }
  .remember_pass {
    margin: 16px 0px;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .warning_login {
    display: block;
    height: 15px;
    margin-top: 5px;
    margin-bottom: 70px;
    span {
      color: rgb(250, 41, 41);
    }
  }
  .container_button {
    width: 100%;
    display: flex;
    gap: 20px;
    margin-top: 15px;
    padding-bottom: 30px;
    margin-left: -10px;
    img {
      margin: 0px auto;
      width: 150px;
      cursor: pointer;
    }
    // button {
    //   border: none;
    //   outline: none;
    //   border-radius: 30px;
    //   cursor: pointer;
    //   padding: 16px 12px;
    // }
    // button span {
    //   font-size: 14px;
    //   font-weight: 600;
    // }
  }
  .icon-tele {
    width: 35px;
    height: 35px;
    margin: 0px auto;
    img {
      width: 100%;
      margin-left: -12px;
    }
  }
}
@media (min-width: 769px) and (max-width: 1550px) {
  .wrapper {
    width: 100%;
    height: 100vh;
    // background-image: url("http://slottool.top/anh1.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .titleinput1 {
    margin-left: 50px;
    margin-top: -40px;
    color: #fff;
    margin-bottom: 20px;
  }
  .titleinput2 {
    margin-left: 50px;
    color: #fff;
    margin-bottom: 20px;
  }
  .container {
    width: 100%;
    height: 70%;

    // background-color: #fff;
    border-radius: 0px 25px 25px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .content-left {
    width: 60%;
  }
  .container_center {
    background-size: cover;
    width: 460px;
    height: 520px;
    top: 15%;
    // height: 100%;
    // width: 30%;
    margin: 0px auto;
    position: relative;
  }
  .formlogin {
    width: 322px;
    margin: 0px auto;
    position: absolute;
    top: 173px;
    .title {
      display: block;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 20px;
    }
  }
  .infor {
    margin: 10%;
    margin-top: 15%;
    width: 55px;
    height: 55px;
    img {
      width: 100%;
      height: auto;
      border-radius: 15px;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    .container_input {
      display: flex;
      flex-direction: column;
      margin-left: 65px;
      margin-bottom: 33px;
      margin-right: -58px;
    }
    .container_input span {
      margin-top: 16px;
      margin-bottom: 8px;
      font-size: 14px;
      color: #475569;
    }
    .container_input input {
      // padding: 16px;
      height: 53px;
      margin-left: -15px;
      margin-right: 13px;
      margin-top: -13px;
      margin-bottom: -25px;
      background-color: white;
      outline: none;
      border-radius: 10px;
      border: none;
      border: 1px solid #939dac;
      text-indent: 12px;
    }
  }
  .remember_pass {
    margin: 16px 0px;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .warning_login {
    display: block;
    height: 15px;
    margin-top: 5px;
    margin-bottom: 70px;
    margin-left: 50px;

    span {
      color: rgb(250, 41, 41);
    }
  }
  .container_button {
    width: 100%;
    display: flex;
    gap: 20px;
    margin-top: 15px;
    margin-left: 50px;
    img {
      margin: 0px auto;
      width: 130px;
      cursor: pointer;
    }
    // button {
    //   border: none;
    //   outline: none;
    //   border-radius: 30px;
    //   cursor: pointer;
    //   padding: 16px 12px;
    // }
    // button span {
    //   font-size: 14px;
    //   font-weight: 600;
    // }
  }
  .icon-tele {
    width: 35px;
    height: 35px;
    margin: 0px auto;
    img {
      width: 100%;
      margin-left: 20px;
    }
  }
}
@media (min-width: 1550px) and (max-width: 2000px) {
  .titleinput1 {
    margin-left: 50px;
    margin-top: -40px;
    color: #fff;
    margin-bottom: 20px;
  }
  .titleinput2 {
    margin-left: 50px;
    color: #fff;
    margin-bottom: 20px;
  }
  .wrapper {
    width: 100%;
    height: 100vh;
    // background-image: url("http://slottool.top/anh1.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    width: 100%;
    height: 70%;
    // background-color: #fff;
    border-radius: 0px 25px 25px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .content-left {
    width: 60%;
  }
  .container_center {
    background-size: cover;
    width: 460px;
    height: 520px;
    // height: 100%;
    // width: 30%;
    margin: 0px auto;
    position: relative;
  }
  .formlogin {
    width: 322px;
    margin: 0px auto;
    position: absolute;
    top: 173px;
    .title {
      display: block;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 20px;
    }
  }
  .infor {
    margin: 10%;
    margin-top: 15%;
    width: 55px;
    height: 55px;
    img {
      width: 100%;
      height: auto;
      border-radius: 15px;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    .container_input {
      display: flex;
      flex-direction: column;
      margin-left: 65px;
      margin-bottom: 10px;
      margin-right: -58px;
    }
    .container_input span {
      margin-top: 16px;
      margin-bottom: 8px;
      font-size: 14px;
      color: #475569;
    }
    .container_input input {
      // padding: 16px;
      height: 53px;
      margin-left: -5px;
      margin-right: 13px;
      margin-top: -13px;
      background-color: white;
      outline: none;
      border-radius: 10px;
      border: none;
      border: 1px solid #939dac;
      text-indent: 12px;
    }
  }
  .remember_pass {
    margin: 16px 0px;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .warning_login {
    display: block;
    height: 15px;
    margin-top: 5px;
    margin-bottom: 70px;
    margin-left: 62px;

    span {
      color: rgb(250, 41, 41);
      width: 120%;
      display: inline-block;
    }
  }
  .container_button {
    width: 100%;
    display: flex;
    gap: 20px;
    margin-top: 15px;
    margin-left: 50px;
    img {
      margin: 0px auto;
      width: 130px;
      cursor: pointer;
    }
    // button {
    //   border: none;
    //   outline: none;
    //   border-radius: 30px;
    //   cursor: pointer;
    //   padding: 16px 12px;
    // }
    // button span {
    //   font-size: 14px;
    //   font-weight: 600;
    // }
  }
  .icon-tele {
    width: 35px;
    height: 35px;
    margin: 0px auto;
    img {
      width: 100%;
      margin-left: 20px;
    }
  }
}
